body{
    background-color: antiquewhite;
    padding: 200px;

}

button{
    margin-left: 180px;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border-radius: 1.5rem;
    background-color: chartreuse;
    transition: all ease-out 0.7s;
}

button:hover{
    width:120px ;
    height: 60px;
}